* {
  box-sizing: border-box;
}

body,
p {
  margin: 0px;
}

.v2_2 {
  width: 100%;
  height: 5268px;
  background: url("../images/v2_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v2_9 {
  width: 100%;
  height: 674px;
  background: url("../images/v2_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}

.v2_15 {
  width: 100%;
  height: 1024px;
  background: url("../images/v2_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 744px;
  left: 0px;
  overflow: hidden;
}

.v2_16 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

.v2_18 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 194px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}

.v2_19 {
  width: 282px;
  height: 274px;
  background: url("../images/v2_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 173px;
  overflow: hidden;
}

.v2_21 {
  width: 282px;
  height: 274px;
  background: url("../images/v2_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 173px;
  overflow: hidden;
}

.v2_22 {
  width: 6px;
  height: 6px;
  background: url("../images/v2_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 308px;
  overflow: hidden;
}

.v2_23 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 351px;
  left: 496px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

.v2_24 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 351px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

.v2_28 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 678px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

.v2_29 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 725px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v2_30 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 768px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.v2_25 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 398px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v2_27 {
  width: 758px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 445px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.v2_34 {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  position: absolute;
  top: 1768px;
  left: 0px;
  overflow: hidden;
}

.v2_35 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 113px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  text-align: center;
}

.v2_42 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 199px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v2_45 {
  width: 599px;
  height: 408px;
  background: url("../images/v2_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  left: 250px;
  position: absolute;
  top: 294px;
  overflow: hidden;
}

.v2_47 {
  width: 599px;
  height: 408px;
  background: url("../images/v2_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 1050px;
  overflow: hidden;
}

.v2_48 {
  width: 599px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 732px;
  left: 250px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v2_50 {
  width: 599px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 734px;
  left: 1050px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}

.v10_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  position: absolute;
  top: 4215px;
  left: 0px;
  overflow: hidden;
}

.v10_3 {
  width: 545px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 190px;
  left: 383px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

.v10_4 {
  width: 692px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 278px;
  left: 310px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v13_12 {
  width: 718px;
  height: 72px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 310px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.v13_15 {
  width: 718px;
  height: 72px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 310px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.v13_14 {
  width: 718px;
  height: 200px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 310px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.v13_16 {
  width: 596px;
  height: 416px;
  background: url("../images/v13_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 1050px;
  overflow: hidden;
}

.v13_17 {
  width: 689px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 345px;
  left: 310px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 0.30000001192092896;
  text-align: left;
}

.v13_18 {
  width: 689px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 453px;
  left: 310px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 0.30000001192092896;
  text-align: left;
}

.v13_19 {
  width: 689px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 561px;
  left: 310px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 0.30000001192092896;
  text-align: left;
}

.v17_2 {
  width: 100%;
  height: 1423px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  position: absolute;
  top: 2792px;
  overflow: hidden;
}

.v17_3 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 84px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}

.v17_4 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 193px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_8 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 297px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_15 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 563px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_20 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 760px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_27 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 991px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_35 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1298px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_6 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 193px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_9 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 297px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_10 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 377px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_12 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 408px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_13 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 448px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_14 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 488px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_16 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 563px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_17 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 603px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_18 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 643px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_19 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 683px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_22 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 760px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_23 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 800px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_24 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 840px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_25 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 880px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_26 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 920px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_28 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 991px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_29 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1031px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_30 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1071px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_31 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1111px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_32 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1191px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_33 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1231px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_36 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1298px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_37 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1338px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_34 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1151px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v17_11 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 337px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.header {
  width: 100%;
  height: 78px;
  text-align: center;
  position: relative;
  font-size: 36px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: azure;
  border: 2px solid burlywood;
  padding: 10px 10px 10px;
  text-align: center;
  position: fixed;
  right: 300px;
  bottom: 10px;
}
.photow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: azure;
  border: 2px solid burlywood;
  text-align: center;
}
.header li {
  list-style-type: none;
  margin: 0px 10px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 2px 2px 2px #fff;
  border: 1px solid orange;
  color: #fff;
}

.header ul {
  margin: 0px;
  padding: 10px;
}

.header a {
  width: 120px;
  height: 40px;
  margin: 0px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  color: rgb(195, 155, 69);
}

.header a:hover {
  background-color: #3ee2e2;
  color: rgb(197, 23, 23);
}